@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: #F9F9F9;
}

.bg-branco {
    background-color: #fff;
}

.titulo {
    text-align: center;
    padding: 5rem;

}

.titulo h1 {
    font-family: 'Playfair Display', serif !important;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.5rem;

}

.titulo p {
    color: #FF6347;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.3rem;
    opacity: 0.8;

}

.navegador{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    font-size: 19px;
}

.navegador a{
    text-decoration: none;

}

.banner {
    background: url(img/banner5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;

}


.titulo-banner {
    background-color: #fff;
    padding: 5%;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.aviso {
    height: 100%;
    width: 100%;
    position: relative;
}

.welcome {
    text-transform: initial;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.welcome-apst {
    font-size: 1.2rem;
    text-align: center;

}

.btn-banner {
    background-color: #FF6347;
    border-radius: 5px;
    border: #FF6347;
    width: 60%;
    font-family: 'Playfair Display', serif;
    padding: 12px 0;
    opacity: 1 !important;
}

.btn-banner p {
    margin-top: unset;
    margin-bottom: unset;
}


/* NAV */

.navbar-brand {
    text-align: center;
    margin: 10px;
    font-size: 1.4rem;
    line-height: 1;
    width: 50%;
    clear: both;
    padding: 0;
    text-transform: uppercase;
}


#contain {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.inputContainer {
    position: relative;
    margin: 24px;
}

.inputContainer label {
    font-size: 0.9em;
    display: block;
    margin-bottom: 6px;
    line-height: 0px;
}

.inputContainer input {
    margin-top: 6px;
    height: 30px;
    width: 300px;
}

.section-img {
    width: 100%;
    height: 300px;
}

#work {
    background-image: url(/img/work.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#trip {
    background-image: url(/img/trip.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#life {
    background-image: url(/img/life.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#city {
    background-image: url(/img/city.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.info-autor {
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 0.9rem;



}

.info-autor img {
    border-radius: 50%;
    width: 100%;
    margin-bottom: 20px;

    
}

.info-autor a {
    text-decoration: none;
    color: #FF6347;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 800;
    border-bottom: 1px solid #000;
}

.info-autor a:hover {
    color: gray;

}

/* POSTAGENS */

.post{
    font-family: 'Quattrocento Sans', sans-serif;
    float: right;
    width: 300px;
    font-size: 1.1rem;
    text-align: center;

}
.texto-post{
    width: 90%;
    border-bottom: 1px solid #000;
    margin-bottom: 12px;
    padding-bottom: 40px;
}

.post p{
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 1.0rem;
    text-align: justify;
}

.link-titulo{
    color: #000;
    font-size: 1.5rem;
    font-family: 'Lora', serif;
    opacity: 0.9;
    
}

.link-titulo:hover{
    text-decoration: none;
    color: #FF6347;

}

.post img{ 
    width: 100%;
    max-width: 400px;
}

.botao-post{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: white;
    border: 1px solid #000;
    padding: 10px 20px;
    color: #000;
}

.botao-post:hover{
    color: #fff;
    background-color: #FF6347;
    border: #FF6347;
    text-decoration: none;
}

/* linha abaixo do post */
.rodape-post{
    border-bottom: 1px solid #000;
    padding-bottom: 14px;
    width: 90%;
    text-align: center;
    font-family: 'Lora', serif;

}

.rodape-post a{
    text-decoration: none;
    color: #FF6347;
}

.rodape-post a:hover{
    color: #000;
    opacity: 0.8;
}

/* Next page */

.next-page{

}

.next-page a{
    font-family: 'Quattrocento Sans', sans-serif;
    color: #000;
    text-decoration: none;
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    padding: 10px;
}

.next-page a:hover{
    color: #fff;
    background-color: #FF6347;
}

/* footer */

.footer-img img{
    height: 179px;
    margin-top: 55px;
    float: right;
    overflow: hidden;
    display: inline-block;
    

}

.form-news{
    text-align: center;
}

.form-footer{
    width: 100%;
    margin: 0 auto;
}

.seu-nome{
    border: 1px solid #333;
    margin: 10px;
    width: 300px;
    height: 40px;
}

.seu-email{
    border: 1px solid #333;
    margin: 10px;
    width: 300px;
    height: 40px;
}

.botao-footer{
    border: 1px solid #333;
    margin: 10px;
    width: 300px;
    height: 40px;
    background-color: #FF6347;
    color: #fff;

}

.botao-footer:hover{
    background-color: #333;
}

.newsletter{
    font-size: 16px;
    text-transform: uppercase;
    
}

.sobre-footer{
    font-size: 16px;
    text-transform: uppercase;
}

.paragrafo-footer{
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    margin-top: 30px;

}

.paragf-footer{
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.paragf-footer a{
    text-decoration: none;
    color: #FF6347;
    margin-top: 30px;
}

.paragf-footer a:hover{
    color: #333;
}

.paragfo-footer{
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    margin-top: 30px;
}

/* creditos */
.creditos {
    color: #fff;
    height: 60px;
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

.creditos a{
    color: #FF6347;
}

.creditos a:hover{
    color: #fff;
}